* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    line-height: 1.7;
}

li {
    list-style: none;
}

#content {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}

#content h1 {
    color: #0088bb;
}

#content .item {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px dotted #0088bb;
}

#content .item h2 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #0088bb;
    margin-bottom: 10px;
}

#content .item ul li {
    display: inline;
    margin-right: 10px;
}

#content .item a img {
    width: 230px;
    height: 230px;
    border: none;
}

#menu {
    width: 50px;
    position: fixed;
    left: 50%;
    margin-left: 400px;
    top: 100px;
}

#menu ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    width: 80px;
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

#menu ul li a:hover, #menu ul li a.current {
    color: #FFFFFF;
    background-color: #0088bb;
}