* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: center;
}

.nav {
    width: 200px;
}

.tmall-icon {
    content: url(../img/天猫形象1.png);
    width: 50%;
    padding-left: 25%;
    margin-bottom: -35px;
}

.title {
    background-color: #fc0f3d;
    color: white;
    display: flex;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    align-items: center;
}

.title span {
    margin-left: 6px;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.menu {
    height: 500px;
}

.menu li {
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0.55;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: 300;
    list-style: none;
}

.menu li a{
    color: #FFFFFF;
    text-decoration: none;
}

.details {
    margin-top: 97px;
    height: 495px;
    width: 850px;
    background-color: #F9F9F9;
    display: flex;
    border-top: 3px solid #fc0f3d;
}

.left-contents {
    width: 600px;
    background-color: #FFFFFF;
    padding: 15px 30px;
}

.left-contents dl {
    display: block;
    overflow: hidden;
    padding: 15px 0;
}

.left-contents dl dt {
    display: block;
    float: left;
    width: 90px;
    margin-right: 20px;
    font-size: 14px;
}

.left-contents dl dt span:first-child {
    display: block;
    float: left;
    width: 70px;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    text-align: justify;
}

.left-contents dl dt span:first-child::after {
    content: '';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 0;
}

.left-contents dl dt span:last-child {
    display: block;
    float: right;
    width: 10px;
    font-weight: 300;
}

.left-contents dl dd {
    display: block;
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
}

.left-contents dl dd:last-child {
    border: none;
}

.left-contents dl dd a {
    display: block;
    float: left;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666666;
    font-weight: 300;
}

.right-brand {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 12px;
}

.brand img {
    margin: auto 2px;
    width: 93px;
    height: 47px;
}

.big-brand img {
    display: block;
    width: 189px;
    height: 87px;
    margin-bottom: 8px;
}